<div ng-show='dataLoaded'>
  <div ng-hide='gotChapter' class='well text-center'>
    <h2>Sorry, that was last chapter available! :(</h2>
    <p ng-click='changeChapter(1*chapter-1)' class='lead'>Click here to <u>go back to previous one!</u></p>
    <p ng-click='changeChapter(1)' class='lead'>or here to <u>go to first one!</u></p>
  </div>
  <div ng-repeat='page in chapterData.pages' class='wow animated slideInUp' >
    <div class='row'>
      <div class='col-xs-6 text-left'>
          <span class="label label-info text-left">Page {{$index}} of {{chapterData.pages.length}} </span>
      </div>
      <div class="col-xs-6 text-right">
          <span class="label label-info" ng-click='changeChapter(1*chapter-1)'>Previous chapter</span>
          <span class="label label-info" ng-click='changeChapter(1*chapter+1)'>Next chapter</span>
      </div>
    </div>
    <div class="row">
        <img  class='img-responsive center-block' ng-src="{{page.url}}"><br/>
    </div>
  </div>
</div>
{{$location.search().chapter}}
