<!--<div ng-repeat='page in chaptersData.pages' class="wow slideInLeft">
      <img class='img-responsive' ng-src="{{page.url}}">
</div>-->
g       
<a ng-click="nextPage()">next page</a>
<a target="_self" href='/#/chapter?manga={{mangaId}}&chapter={{nextChapter}}'>Next One</a>

<div ng-show='dataLoaded'>
  <div ng-repeat='page in chaptersData.pages' class='wow animated slideInUp' >
    <div class='row' ng-show='showMeta'>
      <div class='col-xs-6 text-left'>
          <span class="label label-info text-left">Page {{$index}} of {{chaptersData.pages.length}} </span>
      </div>
      <div class="col-xs-6 text-right">
          <span class="label label-info">Previous chapter</span>
          <span class="label label-info">Chapters index</span>
          <span class="label label-info">Next chapter</span>
      </div>
    </div>
    <div class="row">
        <img  class='img-responsive center-block' ng-src="{{page.url}}"><br/>
    </div>
  </div>
</div>
{{$location.search().chapter}}
