<!DOCTYPE html>
<html ng-app="mangaApp">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Manga App</title>
<link rel="stylesheet" href="built.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/">Manga Reader App</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <button class="btn btn-info navbar-btn" data-toggle="modal" data-target="#techsUsed">Technologies Used</button>
          <button class="btn btn-info navbar-btn" data-toggle="modal" data-target="#why">Why</button>
        </li>
      </ul>
      <form ng-controller="SearchController" class='navbar-form navbar-right' ng-submit="search()">
        <div class="input-group">
          <input class="form-control" type="text"
                   placeholder="Manga title" ng-model="query"
                   ng-keyup="keyup()" ng-keydown="keydown()">
           <span class="input-group-btn">
              <button class="btn btn-info" type="button" ng-click="search()">Search!</button>
           </span>
         </div>
       </form>
    </div>
  </div>
</nav>

<div class="container">
  <div ng-view=""></div>
</div>


<div class="footer">
  <div class="container">
    <p></p>
  </div>
</div>

<!-- Modal: Technologies Used -->
<div id="techsUsed" class="modal animated bounceInLeft" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Techs used...</h4>
      </div>
      <div class="modal-body">
        Front:
        <ul>
          <li>Bootstrap/Angular UI Bootstrap</li>
          <li>AngularJS 1.5</li>
          <li>Animate.CSS</li>
          <li>HTML? :)</li>
        </ul>
        Development:
        <ul>
          <li>Karma, Jasmine & NgMocks for testing</li>
          <li>Grunt with BrowserSync</li>
        </ul>
        Data comes from:
        <ul>
          <li>via MashApe's[.]Com:</li>
          <li>MangaScraper API</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal: Why -->
<div id="why" class="modal animated bounceInLeft" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Techs used...</h4>
      </div>
      <div class="modal-body">
        Because:
        <ul>
          <li>I wanted to practice using NgMocks</li>
          <li>and a bit of tdd aproach</li>
          <li>and it's an API play</li>
          <li>Ghost In The Shell & don't ask why</li>
          <li>It might be time for a break so why don't you read something new?</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="./built.js"></script>

</body>
</html>
